$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #0D3B66;
$lightOrange: #EE964B;
$darkOrange: #F95738;

$primary: #3c153b;
$secondary: #8b3057;
$primaryHighlight: #F49237;
$secondaryHighlight: #89BD9E;

$glossColor: #c391c2;
$glossTopColor: #672c66;
$noteColor: #a6c5c6;
$noteTopColor: #718b8c;